.pointer {
    cursor: pointer;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.height-slide {
    height: 500px;
}

.height-0 {
    height:0px;
    overflow: hidden;
    transition: height 1s;
}

.checked {
    text-decoration: line-through;
}

.fa-125x {
    font-size: 160%;
}

.p-05 {
    padding: 2px;
}

.rounded-more{
    border-radius: 12px;
}

.marker-lg{
    height:30px;
}

.selected{
    box-sizing: content-box;
    border: 3px solid white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
/* bootstrat overwrite */
.btn{
    border-radius: 6px;
}

.form-control {
    border-radius: 6px;
}

input, textarea, button {
    outline: none;
    box-shadow: none !important;
}