.pointer {
    cursor: pointer;
}

.fullscreen {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.height-0{
    height: 0;
}

.animate-expand {
    transition: height 0.5s ease-out;
    overflow: hidden;
}

.checked {
    text-decoration: line-through;
}

.fa-125x {
    font-size: 160%;
}

.p-05 {
    padding: 2px;
}

.rounded-more {
    border-radius: 12px;
}

.marker-lg {
    height: 30px;
}

.selected {
    box-sizing: content-box;
    transform: scaleY(1.2);
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* bootstrat overwrite */

.btn {
    border-radius: 6px;
}

.form-control {
    border-radius: 6px;
}

input, textarea, button {
    outline: none;
    box-shadow: none !important;
}